@charset "UTF-8";

/* Em HTML é id =, em CSS é # (id pode ser usado só uma vez por página) 
   Em HTML é class =, em CSS é . (class pode ser usada várias vezes)*/


body {
    background-color: #F5F8DE;
    font: normal 16px ui-sans-serif, sans-serif;
}

h1 {
    color: #273C2C;
}

h1#principal {
    text-align: center;
    background-color: #0ead69;
    color: rgb(249, 245, 245);
}

h2 {
    color: rgb(13, 88, 13);
}

.basico {
    color: rgb(37, 176, 37);
    font-weight: bold;
}

.intermediario {
    color: rgb(161, 161, 53);
    font-weight: bold;
}

.avancado {
    color: rgb(141, 26, 26);
    font-weight: bold;
}

.destaque {
    background-color: rgba(188, 188, 92, 0.411);
}
